@import 'src/assets/styles/variables/index.scss';

.land-years-step {
  padding: $spacer-huge;
  display: flex;
  flex-direction: column;
  align-items: center;
  .typo-h3 {
    margin-bottom: $spacer-big;
  }
  .checkbox-wrapper {
    margin-top: $spacer-medium;
  }
  .btn-primary {
    margin-top: $spacer-medium;
  }
}
